
@model CategoriesPizzas;

<form asp-controller="Pizza" asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Nome">Nome pizza</label>
        <input asp-for="Pizza.Nome" type="text" class="form-control"  placeholder="Nome pizza">
        <span asp-validation-for="Pizza.Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Descrizione">Descrizione pizza</label>
        <input asp-for="Pizza.Descrizione" type="text" class="form-control" placeholder="Descrizione pizza">
        <span asp-validation-for="Pizza.Descrizione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Image">Immagine pizza</label>
        <input asp-for="Pizza.Image" type="text" class="form-control" placeholder="url immagine pizza">
        <span asp-validation-for="Pizza.Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Prezzo">Prezzo pizza</label>
        <input asp-for="Pizza.Prezzo" type="number" class="form-control" placeholder="Prezzo pizza">
        <span asp-validation-for="Pizza.Prezzo" class="text-danger"></span>
    </div>

    @*CATEGORIA*@
    <div class="my-3">
        <label for="CategoryId">Categoria pizza</label>
        <select asp-for="Pizza.CategoryId" rows="10" class="d-block w-100">

            @foreach (Category category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
    </div>

    @*INGREDIENTI*@
    <div class="my-3">
        <label for="SelectedIngredients"></label>
        <select multiple="multiple" asp-for="SelectedIngredients" rows="10" class="d-block w-100">
            @foreach (Ingredient ingredient in Model.Ingredients)
            {
                <option value="@ingredient.Id">@ingredient.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
